.container.mt-4 {
    margin-top: 1.5rem;
}

.text-center {
    color: #4f6367;
}

.form-btn {
    display: flex;
    justify-content: end;
}

.col-sm-2.eye-icon {
    cursor: pointer;
}

.header-row {
    background-color: #4f6367;
    color: white;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.content-row {
    background-color: #b8d9d9;
    display: flex;
    align-items: center;
    color: #4f6367;
    margin-top: 1px;
    font-weight: 400;
    text-align: center;
    padding: 0.5rem 0;
}


/* Back button styling */
.back-button {
    color: #4f6367;
    top: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.text-center {
    color: #4f6367;
}

.header-title {
    font-weight: 600;
}

.content-container {
    background-color: #b8d9d9;
    border-radius: 10px;
}

.label-weight {
    font-weight: 500;
}

.table-header-row {
    background-color: #4f6367;
    color: white;
    font-weight: 300;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.table-content-row {
    background-color: white;
    display: flex;
    align-items: center;
    color: #4f6367;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem 0;
}

.radius-container {
    background-color: #b8d9d9;
    border-radius: 10px;
    padding: 20px;
}

.text-center .calories {
    color: #efa41c !important;
}

.text-center .calories-desc {
    width: 60%;
    margin: 0 auto;
}

.horizontal-bar {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    /* Background color of the bar */
    height: 30px;
    /* Height of the bar */
    position: relative;
}

.bar-segment {
    height: 100%;
    flex-grow: 1;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.labels {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -20px;
    /* Adjust as needed */
    width: 100%;
    font-size: 12px;
}

.labels span {
    position: relative;
}

/* .legend {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .legend-item {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
  }
  
  .legend-item.red {
    background-color: red;
  }
  
  .legend-item.yellow {
    background-color: yellow;
    color: black;
  }
  
  .legend-item.green {
    background-color: green;
  } */
.slider-container {
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

.slider-background {
    display: flex;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 1;
}

.slider-segment {
    height: 100%;
}

.slider-segment.red {
    background-color: red;
}

.slider-segment.yellow {
    background-color: yellow;
}

.slider-segment.green {
    background-color: green;
}

.legend {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.legend-item {
    display: inline-block;
    width: 15%;
    text-align: center;
    color: black;
    font-size: 12px;
    border-radius: 5px;
}

.biomaker-paragraph {
    padding: 0px 10px;
}

.biomaker-heading {
    padding: 0px 15px;
    color: #4f6367;
}

.custom-con {
    background: white;
    padding: 30px;
    border-radius: 20px;
}
.table td {
    padding: 8px 0;
  }
  
  .table td:first-child {
    color: #888888;
  }
  
  .table td.text-primary {
    color: #007bff;
  }
.table tbody tr td{
    padding: 0px;
  }